      /*Game Setup form: */
.player-color{
  display: inline;
  padding: 0px 4px;
}

.setup {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inputs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.inputs label, .inputs input {
  margin: 0px 5px 10px 5px;
}

ul button{
  margin: 0px 5px;
}

      /* Other: */
.games-list-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.games-list-box > div{
  padding: 10px;
}

.games-list-box ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.games-list-box li{
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

.gameName {
  color: #222;
  font-size: 16px;
}

.games-list-box button{
  padding: 3px 6px;
}

#game-buttons{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#game-list{
  flex: 2 0 200px;
  margin-right: 50px;
}

.board{
  width: 1200px;
  margin: auto;
}

footer{
 position: fixed;
 bottom: 0px;
 left: 0px;
 border-style: solid;
 border-color: #363;
 border-width: 2px 2px 0px 0px;
 padding: 3px 5px;
 border-radius: 0pt 10px 0pt 0px;
 background: rgba(110, 256, 110, 0.9);
 color: #344;
 font-size: 16px;
}

label{
  margin-right: 5px;
}

.modal-dialog input{
  width: 40px;
}

@media(min-width:768px) {

  #popup .modal-dialog{
    width: 400px;
  }

  #popup-center .modal-dialog{
    width: 400px;
    top: 50%;
    margin: 0x auto;
    transform: translateY(-50%);
  }
}
