
.colorBoxContainer{
  flex: 1 0 50px;
  margin: 10px;
  height: 60px
}

.colorBox{
  width: 50px;
  height: 50px;
  margin: auto;
  transition: all 0.3s ease;
}

.colorBox:hover{
  width: 60px;
  height: 60px;
}

.colors-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.color-preview{
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  width: 60px;
}

.waterBlue { fill: #3bf; }
.bahamas { fill: #08b; }
.grey { fill: #999; }
.map { fill: #dcd; stroke: #f00; stroke-width: 0;}

.connector-line{
  fill:none;
  stroke: #f00;
  stroke-width: 1.5;
  stroke-linecap: round;
}

.border-line{
  fill: none;
  stroke: #ff0000;
  stroke-width: 7;
  stroke-linecap: round;
}

.color0 { fill: #004500; }
.color1 { fill: #222; }
.color2 { fill: #FF00FF; }
.color3 { fill: #FF0000; stroke: #FF0;}
.color4 { fill: #FFFF00; }
.color5 { fill: #00FF00; }
.color6 { fill: #00FFFF; }
.color7 { fill: #0000FF; }
.color8 { fill: #764710; }
.color9 { fill: #FF8000; }

.color10 {fill: #ffddb8;}
.color11 {fill: #ffddcf;}
.color12 {fill: #ffdd9e;}

@media(max-width: 400px){

  .setup{
    font-size: 12px;
  }

  .colorBoxContainer{
    flex-basis: 45px;
    margin: 5px;
    height: 50px;
  }

  .colorBox{
    width: 45px;
    height: 45px;
  }

  .colorBox:hover{
    width: 50px;
    height: 50px;
  }
}
