
.header {
  background-color: #058005;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  z-index: 5;
}
.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content button, .header-content div {
  margin: 0px 10px;
}

.player-color{
  display: inline;
  padding: 0px 4px;
}

.setup {
  list-style: none;
}


ul .inputs{
  display: flex;
  justify-content: center;
}

ul .inputs div, ul .inputs label, ul .inputs input {
  margin: 0px 15px;
}

ul button{
  margin: 0px 5px;
}

.board{
}

.wrapper{
  background-color: #222;
  width: 1200px;
  margin: auto;
  padding-top: 40px;
}

#gameMap{

}


